// -----------------------------------------------------------------------------
// This file contains all styles related to the buttons of the site
// -----------------------------------------------------------------------------

button,
.btn {
  @include transition(color background-color);
  outline: none;
  display: inline-block;
  padding: 10px 20px;
  border: 0;
  border-radius: 4px;
  color: $secondary;
  font-weight: $font-weight-medium;
  font-size: 14px;
  line-height: 1;
  cursor: pointer;

  @include media('>=desktop') {
    font-size: 16px;
  }

  &--primary {
    background-color: $red-01;

    &:hover {
      color: $red-01;
      background-color: $secondary;
    }
  }

  &--round {
    font-size: 0;
    padding: 10px;
    border-radius: $rounded-circle;

    &:hover {
      background-color: rgba($red-01, 0.5);
    }
  }
}