// -----------------------------------------------------------------------------
// This file contains all styles related to the fonts of the site
// -----------------------------------------------------------------------------

/*
  Basic styles for links
*/
a {
  @include transition(color);
  // color: $link-color;
  text-decoration: $link-decoration;
}

ul,
ol,
dl,
p {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}


h1, .h1 {
  font-size: 35px;
  color: $secondary;
  font-weight: $font-weight-bold;
  line-height: 1.4;
  padding: 0;
  margin: 0 0 20px;

  @include media('>=md-desktop') {
    font-size: 40px;
  }
}

h2, .h2 {
  font-size: 25px;
  color: $secondary;
  font-weight: $font-weight-bold;
  line-height: 1.4;
  padding: 0;
  margin: 0 0 20px;

  @include media('>=desktop') {
    font-size: 30px;
  }
}

h3, .h3 {
  font-size: 20px;
  color: $primary;
  line-height: 1.4;
  padding: 0;
  margin: 0 0 20px;

  @include media('>=tablet') {
    font-size: 25px;
  }

  @include media('>=desktop') {
    font-size: 45px;
  }
}

h6 {
  font-size: 12px;
  font-weight: $font-weight-normal;
  color: $primary;
  line-height: 1.4;
  padding: 0;
  margin: 0 0 20px;
}

p, .p {
  font-size: 14px;
  color: $secondary;
  line-height: 1.6;
  padding: 0;
  margin: 0 0 20px;

  @include media('>=desktop') {
    font-size: 16px;
  }

  a {
    font-weight: $font-weight-semibold;
    color: $secondary;

    &:hover {
      text-decoration: underline;
    }
  }
}
